* {
    padding: 0%;
    margin: 0%;
    text-decoration: none;
    list-style: none;
}
body {
    background-image: url(./img/bg.jpg);
    width: 100vw;
    height: 100vh;
    background-size: cover;
}
h1 {
    font-family: 'Lato', sans-serif;
}

/*HEADER*/

.navbar {
    position: relative;
    overflow: hidden;
    background-color: goldenrod;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    align-items: center;
}
.navbar img {    
    text-align: center;
}
.link {
    display: flex;
}  
.navbar .link a {
    font-family: 'Lato', sans-serif;
    display: block;
    color: black;
    text-align: center;
    padding: 10px 12px;
    text-decoration: none;
}
        
.navbar a:hover {
    color: azure;
}

/*
MAIN
*/
.main {
    display: flex;
}
